version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.5.0
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: circleci-demo-ruby
          RAILS_ENV: test
      - image: circleci/mysql:5.6.39-ram
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_DATABASE: test_app_test
          MYSQL_ROOT_HOST: '%'
          MYSQL_HOST: 127.0.0.1
          MYSQL_USER: root
    parallelism: 1
    working_directory: ~/circleci-test-app-rails

    steps:
      - run:
          command:
            sudo apt-get install nodejs

      - run:
          name: version check
          command: |
            echo `node -v`
            echo `ruby -v`

      - checkout

      - run:
          command: |
            touch .env
            echo 'DATABASE_USERNAME="root"' >> .env
            echo 'DATABASE_PASSWORD=""' >> .env
            echo 'DATABASE_HOST="127.0.0.1"' >> .env

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      # Database setup
      - run: bundle exec rails db:create
      - run: bundle exec rails db:migrate

      # run tests!
      - run:
          name: Rspec
          command: bundle exec rspec spec --progress

